---
import Layout from "../layouts/Layout.astro";

type Contact = {
  name?: string;
  title: string;
  email?: string;
};

const contacts: Contact[] = [
  {
    name: "Susan Blair",
    title: "President",
    email: "susblair@gmail.com",
  },
  {
    name: "Terri Wittreich",
    title: "Publicity",
    email: "wingwitt@hotmail.com",
  },
  {
    name: "Shirley Peters",
    title: "Membership",
    email: "petersshirley71@gmail.com",
  },
  {
    name: "Kathie Zinz",
    title: "Membership",
    email: "dzinz@pp.rr.com",
  },
  {
    title: "May Garden Mart",
    email: "fgamaymart@gmail.com",
  },
];

const members: Contact[] = [
   { name: 'Susie Blair', title: 'President' },
  { name: 'Barry Wilson', title: 'Vice President' },
  { name: 'Susan Hilton', title: 'Secretary' },
  { name: 'Cindi Ruditis', title: 'Treasurer' },
  { name: 'Shirley Peters', title: 'Membership' },
  { name: 'Kathie Zinz', title: 'Membership' },
  { name: 'Lil Gammello', title: 'Ways & Means' },
  { name: 'Donna Ostereid', title: 'Ways & Means' },
  { name: 'Rebecca Witherup', title: 'Newsletter' },
  { name: 'Michelle Reck', title: 'Newsletter' },
  { name: 'Terri Wittreich', title: 'Publicity & Promotion' },
  { name: 'Rebecca Witherup', title: 'Publicity & Promotion' }
];
---

<Layout title="Franklin Gardeners Contact Information">
  <main
    class="md:py-12 pt-12 mb-80 px-4 main w-screen flex flex-col align-center items-center"
  >
    <h2 class="text-text-500 mb-16 text-center font-semibold text-4xl">
      Contact Information
    </h2>
    <div
      class="w-full mb-8 max-w-[500px] flex flex-col text-xl items-center justify-between"
    >
      {
        contacts.map((contact) => (
          <div class="flex items-center justify-between w-full py-2">
            <div class="font-semibold">{contact.title}</div>
            <div class="flex flex-col text-right">
              <div class="font-semibold">{contact.name}</div>
              <a class="hover:underline font-normal text-lg md:text-xl" href={`mailto:${contact.email}`}>
                {contact.email}
              </a>
            </div>
          </div>
        ))
      }
    </div>
    <p class="text-text-500 text-center">
      Franklin Gardeners Association
      <br />
      PO Box 297
      <br />
      Franklin, PA 16323
    </p>
    <h2 class="text-text-500 my-16 font-semibold text-center text-4xl">
      2023 Board of Directors
    </h2>
    <div
      class="w-full mb-8 max-w-[500px] flex flex-col text-xl items-center justify-between"
    >
      {
        members.map((contact) => (
          <div class="flex items-center justify-between w-full py-2">
            <div class="font-semibold">{contact.title}</div>
            <div class="flex flex-col text-right">
              <div class="font-semibold">{contact.name}</div>
            </div>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
