---
import Logo from "../assets/logo.png";
import FB from "../assets/fb.png";
import Pinterest from "../assets/pinterest.png";
import { NavLink, links } from "../utils";
const socials: NavLink[] = [
  {
    text: "Facebook",
    href: "https://www.facebook.com/profile.php?id=100064572734591",
    logo: FB,
  },
  {
    text: "Pinterest",
    href: "https://www.pinterest.com/terriwittreich/",
    logo: Pinterest,
  },
];
---

<div class="flex flex-col w-screen">
  <div
    class="px-4 flex flex-row header items-center md:items-start h-40 w-full"
  >
    <img src={Logo} class="w-32 h-32 brightness-150 mr-4 hidden md:block" />
    <div class="flex flex-col items-center md:items-start w-full">
      <h1
        class="my-2 text-center md:text-left text-white text-3xl md:text-4xl font-semibold drop-shadow-dark"
      >
        <span class="text-gradient">Franklin Gardeners Association</span>
      </h1>
      <h4 class="text-white text-xl drop-shadow-dark font-semibold italic">
        We just keep growing!
      </h4>
      <h4 class="text-white font-semibold drop-shadow-dark">Franklin, PA</h4>
    </div>
  </div>
  <div
    class="bg-bg-100 py-2 px-0 md:px-4 flex flex-row flex-wrap align-center justify-between w-full"
  >
    <div
      class="flex md:flex-row flex-col flex-wrap align-center justify-between"
    >
      {
        links.map((l) => (
          <a
            href={l.href}
            class="mx-4 mb-2 text-white text-md md:text-xl hover:underline font-semibold text-left drop-shadow-[0_2.8px_2.8px_rgba(0,0,0,1)] transition duration-100 hover:scale-110"
          >
            {l.text}
          </a>
        ))
      }
    </div>
    <div
      class="flex flex-col md:flex-row flex-wrap align-center justify-center md:justify-between"
    >
      {
        socials.map((l) => (
          <a
            href={l.href}
            class="mx-4 my-2 md:my-0 text-white text-sm md:text-xl hover:underline font-semibold text-left drop-shadow-[0_2.8px_2.8px_rgba(0,0,0,1)] transition duration-100 hover:scale-110"
            title={l.text}
          >
            <img src={l.logo} class="h-8" alt={l.text} />
          </a>
        ))
      }
    </div>
  </div>
</div>

<style>
  .header {
    background-image: url("../assets/potting.jpg");
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
