---
import BoothSquare from "./BoothSquare";
import { booths } from "../utils";
import BlankMap from "../assets/blankMap.png";
---

<div class="relative map w-[1151px] h-[889px]">
  <img src={BlankMap} class="absolute top-0 left-0 w-full h-full" />
  {
    booths.map((t) => (
      <BoothSquare
        client:load
        id={t.id}
        width={t.width}
        height={t.height}
        xOffset={t.xOffset}
        yOffset={t.yOffset}
        rotation={t.rotation}
      />
    ))
  }
</div>

<style>
  .map {
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
